@page "/"
@using MiniWarehouse.ApiClient
@using MiniWarehouse.Helpers
@using MiniWarehouse.Models

@inject IApiClient ApiClient

<NavMenu />

<ErrorModal IsVisible="@showErrorModal"
            Message="@errorMessage"
            OnClose="@CloseErrorModal" />

<div class="grid">
    <div>
        <div class="card">
            <h3>Produkty</h3>

            <div style="display:flex; gap:8px; margin-bottom:8px; align-items:center">
                <input class="input" placeholder="Hledej podle nazvu" @bind="searchTerm" />

                @if (categories.Any())
                {
                    <InputSelect class="input" style="width:160px" @bind-Value="SelectedCategory.Name">
                        <option value="">Všechny kategorie</option>
                        @foreach (var category in categories)
                        {
                            <option value="@category.Name">
                                @category.Name
                            </option>
                        }
                    </InputSelect>
                }
                <button class="btn" @onclick="ApplyFilter">Filtruj</button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Jméno</th>
                        <th>Kategorie</th>
                        <th>Cena</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (displayed != null)
                    {
                        @foreach (var p in displayed)
                        {
                            <tr>
                                <td>@p.Name</td>
                                <td>@p.Description</td>
                                <td>@p.Price.ToString("0.00") Kč</td>
                                <td>
                                    <button class="btn ghost" @onclick="() => StartEdit(p)">Upravit</button>
                                    <button class="btn" @onclick="() => DeleteProduct(p)">Smazat</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div style="margin-top:12px" class="note">Celkem: <strong>@TotalDisplay</strong></div>
        </div>

        <div style="margin-top:12px" class="card">
            <h4>Pridat produkt</h4>

            <EditForm Model="@productCreate" OnValidSubmit="@CreateProductSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div style="display:flex;flex-direction:column;gap:8px">
                    <label class="label-misaligned">Nazev</label>
                    <InputText class="input" @bind-Value="productCreate.Name" />
                    <ValidationMessage class="validation-message" For="@(() => productCreate.Name)" />

                    <label>Kategorie</label>
                    @if (categories.Any())
                    {
                        <InputSelect class="input" @bind-Value="productCreate.CategoryId">
                            @foreach (var category in categories)
                            {
                                <option value="@category.Id">
                                    @category.Name
                                </option>
                            }
                        </InputSelect>
                    }
                    <ValidationMessage class="validation-message" For="@(() => productCreate.CategoryId)" />

                    <label>Popis</label>
                    <InputText class="input" @bind-Value="productCreate.Description" />
                    <ValidationMessage class="validation-message" For="@(() => productCreate.Description)" />

                    <label>Cena</label>
                    <InputNumber class="input" @bind-Value="productCreate.Price" step="0.01" />
                    <ValidationMessage class="validation-message" For="@(() => productCreate.Price)" />

                    <div style="display:flex; gap:8px">
                        <button class="btn" type="submit">Pridat</button>
                        <button class="btn ghost" @onclick="ClearForm">Vymazat</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>

    <div>
        <div class="card">
            <h4>Detaily / Uprava produktu</h4>
            @if (productEdit != null)
            {
                <EditForm Model="@productEdit" OnValidSubmit="@EditProductSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                    <div style="display:flex;flex-direction:column;gap:8px">
                        <label>Nazev</label>
                        <input class="input" @bind="productEdit.Name" />

                        <label>Kategorie</label>
                        @if (categories.Any())
                        {
                            <InputSelect class="input" @bind-Value="productEdit.CategoryId">
                                @foreach (var category in categories)
                                {
                                    <option value="@category.Id">
                                        @category.Name
                                    </option>
                                }
                            </InputSelect>
                        }
                        <ValidationMessage For="@(() => productEdit.CategoryId)" />

                        <label>Popis</label>
                        <input class="input" @bind="productEdit.Description" />
                        <ValidationMessage For="@(() => productEdit.Description)" />

                        <label>Cena</label>
                        <InputNumber class="input" @bind-value="productEdit.Price" step="0.01" />
                        <ValidationMessage For="@(() => productEdit.Price)" />

                        <div style="display:flex; gap:8px">
                            <button class="btn" type="submit">Ulozit</button>
                            <button class="btn ghost" @onclick="CancelEdit">Zrusit</button>
                        </div>
                    </div>

                </EditForm>
            }
            else
            {
                <div class="note">Vyberte produkt pro upravu</div>
            }
        </div>

        <div class="card">
            <h4>Detaily / Uprava kategorie</h4>
            @if (categories.Any())
            {
                <EditForm Model="@categoryCreate" OnValidSubmit="@EditCategorySubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div style="display:flex;flex-direction:column;gap:8px">
                        <label>Kategorie</label>
                        @if (categories.Any())
                        {
                            <InputSelect class="input" @bind-Value="categoryCreate.Id">
                                @foreach (var category in categories)
                                {
                                    <option value="@category.Id">
                                        @category.Name
                                    </option>
                                }
                            </InputSelect>
                        }

                        <label>Nazev kategorie</label>
                        <input class="input" @bind="categoryCreate.Name" />

                        <div style="display:flex; gap:8px">
                            <button class="btn" type="submit">Přidat kategorii</button>
                            <button class="btn ghost" @onclick="CancelEdit">Zrusit</button>
                        </div>
                    </div>
                </EditForm>
            }
            else
            {
                <div class="note">Vyberte kategorii pro upravu</div>
            }
        </div>
        
    </div>
</div>

@code{
    private List<MiniWarehouse.Models.Product> displayed = new();
    private List<MiniWarehouse.Models.Category> categories = new();
    private MiniWarehouse.Models.Category SelectedCategory = new();
    private MiniWarehouse.Models.ProductCreate productCreate = new();
    private MiniWarehouse.Models.ProductCreate? productEdit = null;
    private MiniWarehouse.Models.Category categoryCreate = new();

    private string searchTerm = string.Empty;

    private bool showErrorModal = false;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        SelectedCategory.Id = Guid.Empty;

        await LoadCategories();
        await LoadProducts();
    }


    private async Task ApplyFilter()
    {
        var search = new ProductSearch()
        {
            ProductName = searchTerm,
            CategoryName = SelectedCategory.Name
        };

        var searchQuery = ApiHelpers.BuildSearchQuery(search);

        var searchedProducts = await ApiClient.GetAsync<Product>($"api/Product/search?{searchQuery}");

        if (searchedProducts.Success && searchedProducts.Data != null)
        {
            displayed = searchedProducts.Data;
        }
        else
        {
            errorMessage = searchedProducts.Error ?? "Neznámá chyba";
            showErrorModal = true;
        }
    }

    private async Task CreateProductSubmit()
    {
        var createProductResponse = await ApiClient.PostAsync<ProductCreate, ProductCreate>("api/Product", productCreate);

        if (!createProductResponse.Success)
        {
            errorMessage = createProductResponse.Error ?? "Neznámá chyba";
            showErrorModal = true;

        }

        productCreate = new();

        await LoadProducts();
    }   

    private async Task DeleteProduct(MiniWarehouse.Models.Product p)
    {
        var deletedProducts = await ApiClient.DeleteAsync($"api/Product/{p.Id}");

        if (!deletedProducts.Success)
        {
            errorMessage = deletedProducts.Error ?? "Neznámá chyba";
            showErrorModal = true;

        }

        await LoadProducts();
    }

    private void StartEdit(MiniWarehouse.Models.Product p)
    {
        productEdit = new()
        {
            Id = p.Id,
            Name = p.Name,
            CategoryId = p.Category.Id,
            Description = p.Description,
            Price = p.Price
        };
    }


    private async Task EditProductSubmit()
    {
        if (productEdit == null) return;

        var createProductResponse = await ApiClient.PutAsync<ProductCreate, ProductCreate>($"api/Product/{productEdit.Id}", productEdit);

        if (!createProductResponse.Success)
        {
            errorMessage = createProductResponse.Error ?? "Neznámá chyba";
            showErrorModal = true;

        }

        productEdit = null;
        await LoadProducts();
    }


    private void CancelEdit()
    {
        productEdit = null;
    }


    private void ClearForm()
    {
        productCreate = new();
    }

    private void CloseErrorModal()
    {
        showErrorModal = false;
    }

    private async Task EditCategorySubmit()
    {
        var createCategoryResponse = await ApiClient.PostAsync<Category, Category>("api/Category", categoryCreate);

        if (!createCategoryResponse.Success)
        {
            errorMessage = createCategoryResponse.Error ?? "Neznámá chyba";
            showErrorModal = true;

        }

        categoryCreate = new();

        await LoadCategories();
    }

    private string TotalDisplay
    {
        get
        {
            var all = displayed ?? new List<MiniWarehouse.Models.Product>();

            decimal total = all.Sum(x => x.Price);
            return total.ToString("0.00") + " Kč";
        }
    }

    private async Task LoadProducts()
    {
        var productsResult = await ApiClient.GetAsync<Product>("api/Product");
        if (productsResult.Success && productsResult.Data != null)
        {
            displayed = productsResult.Data;
        }
        else
        {
            errorMessage = productsResult.Error ?? "Neznámá chyba";
            showErrorModal = true;
        }
    }

    private async Task LoadCategories()
    {
        var categoriesResult = await ApiClient.GetAsync<Category>("api/category");

        if (categoriesResult.Success && categoriesResult.Data != null)
        {
            categories = categoriesResult.Data;
        }
        else
        {
            errorMessage = categoriesResult.Error ?? "Neznámá chyba";
            showErrorModal = true;
        }
    }
}  
